body    {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 13px;
}

h2.title {
    text-align: center;
 //   margin-bottom: 20px;
}

span.inputTitle {
    font-weight: bold;
}

span.sectionTitle {
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

span.sectionTitle:after {
    content: ":";
}

fieldset.help {
    background-color: #fff;
    margin: 10px;
}

legend.help {
    font-size: 24px;
    background-color: #fff;
    //border: solid thin;
    font-weight: bold;
    padding-left: 20px;
}

span.highlightText {
    font-style: italic;
}

.help-intro {
    margin-left: 20px;
    margin-bottom: 15px;
}

a:link {
    color: #06C;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #06C;
}

ul.section {
    margin-left: 20px;
    padding: 25px;
    background-color: #F9E5A8;
    border: solid thin;
    list-style-type: none;
}

ul.section li {
    margin-bottom: 10px;
}

/* shamelessly borrowed from twitter-bootstrap */
table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin-bottom: 18px;
}

.table th, .table td {
    background: none;
    color: #000;
    padding: 8px;
    line-height: 18px;
    text-align: left;
    border-top: 1px solid #000;
}

.table th {
    font-weight: bold;
    vertical-align: bottom;
}

.table td {
    vertical-align: top;
}

.table thead:first-child tr th, .table thead:first-child tr td {
    border-top: 0;
}

.table tbody + tbody {
    border-top: 2px solid #000;
}

.table-bordered {
    border: 1px solid #000;
    border-collapse: separate;
    *border-collapse: collapsed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
    border-left: 1px solid #000;
}

.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}

.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}

.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}